body {
    padding: 0;
    margin: 0;
}


/* -----------------banner section-------------- */

.banner-sec {
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 130px;

}

.banner-item {
    display: flex;


}

.banner-split {
    margin-left: 131px;

}

.banner-title {
    font-size: 50px;
    font-weight: 200;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.banner-sbu-titel {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.banner-button {
    font-weight: 400;
    font-size: 20px;
    width: 187px;
    height: 56px;
    color: white;
    border-radius: 6px;
    background-color: red;
    font-family: 'Poppins', sans-serif;

}

.banner-button:hover {
    width: 197px;
    height: 60px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    background-color: forestgreen;
}

.banner-image {
    height: 645px;

}
/* ----------------...>>>   All Match update  <<<<    ------------ */

.container-Match {
    margin-bottom: 130px;
}
.All-Match-and-button {
    width: 1321px;
    display: grid;
    grid-template-columns: 312px 1fr;
    column-gap: 15px;
    margin: auto;
}

.Match-split {


    border-radius: 10px;
}

.All-button {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    position: sticky;
    top: 0px;
    top: -opx;
}

.buttons {
    padding-top: 30px;


}

.Upcoming-Match {

    width: 250px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 30px;

}

.All-Group {

    width: 250px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 30px;

}

.Blog {

    width: 250px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 30px;

}

.Upcoming-Match:hover,
.All-Group:hover,
.Blog:hover {
    color: white;
    background-color: red;
    width: 254px;
}
.Upcoming-Match a,
.All-Group a,
.Blog a {
    text-decoration: none;
}

/*---------------- Upcoming-Match---------------- */

.All-Live-Match {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Comming-soon-Match {
    width: 312px;
        height: 242px;
        border-radius: 8px;
        border: 0.2px solid gainsboro;
}
.Comming-soon-Match:hover {
    border: 0.4px solid red;
}
.Team-Match-info {
    margin-top: 53px;
    margin-left: 30px;
}

.Team {
    width: 252px;
        height: 136.18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.Team-flag {
    margin: auto;
}
.Team-flag img {
    width: 93.04px;
        height: 56.18px;

}
.Team-flag h1 {
    font-weight: 700;
        font-size: 16px;
        margin-left: 21px;
        margin-right: 21px;
        text-align: center;
        
}
.Match-ditails {
    text-align: center;
    
}

/* -----------------Footer section--------------- */

.container-footer {
    width: 100%;

    background-color: #161616;
}

.Goal {
    color: white;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
}

hr {
    width: 75%;
}

.footer-info {
    color: white;

    padding-top: 50px;
    padding-bottom: 130px;
    text-align: center;
}

.info {
    margin-left: 40px;
    font-weight: 500;
    font-size: 20px;
}




/*____________ small/Mobile device____________  */

@media only screen and (max-width:576px) {

    /* ------banner section---- */

    .banner-sec {
        width: 334px;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    .banner-item {
        display: flex;
        flex-direction: column;

    }

    .banner-split {
        margin: auto;

    }

    .banner-title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .banner-sbu-titel {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    }

    .banner-button {
        width: 161px;
        height: 48px;
        margin-left: 30%;
    }

    .banner-button:hover {
        width: 167px;
        height: 51px;
    }

    .banner-image {
        height: 375px;
    }


        /* ----All Match update --------*/
        .All-Match-and-button {
            width: 334px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    
    
        }
    
        .All-button {
            height: 230px;
    
            margin: auto;
            margin-bottom: 24px;
            background-color: white;
        }
    
        .buttons {
            padding-top: 30px;
        }
    
        .Upcoming-Match {
            width: 210px;
            height: 48px;
            margin-bottom: 16px;
            margin-left: 16%;
            border-radius: 10px;
    
        }
    
        .All-Group {
            width: 160px;
            height: 48px;
            border-radius: 10px;
            color: rgb(6, 6, 6);
            margin-top: 10px;
            margin-left: 23%;
            margin-bottom: 16px;
    
        }
    
        .Blog {
            width: 160px;
            height: 48px;
            border-radius: 10px;
            color: rgb(0, 0, 0);
    
            margin-top: 10px;
            margin-left: 23%;
        }
    
        .All-Group:hover,
        .Blog:hover {
            color: white;
            background-color: red;
            width: 170px;
        }
    
        .Upcoming-Match:hover {
            color: white;
            background-color: red;
            width: 215px;
    
        }



        /*-------- Upcoming-Match----------- */

         .All-Live-Match {
           display: grid;
           grid-template-columns: repeat(1, 1fr);


       }

           /*--------------- Footer-section-------------- */
           .container-footer {
               height: 100%;
    
               background-color: #161616;
           }
    
           .Goal {
               font-weight: 600;
               font-size: 22px;
               padding-top: 24px;
               padding-bottom: 24px;
           }
    
           .footer-info {
               padding-bottom: 7px;
    
           }
    
           .info {
               display: block;
               margin-bottom: 30px;
               text-align: center;
               margin-left: 0px;
           }
}


/*0000000000-------- ipad / Medium  / 576px up---------000000 */

@media only screen and (min-width:577px) and (max-width:768px) {



    /*$$$$$-------- banner-section-----$$$$ */

    .banner-sec {
        width: 734px;
        height: 398px;
        margin-top: 10px;
        margin-bottom: 70px;

    }

    .banner-split {
        margin-left: 10px;
        margin-left: 40px;
    }

    .banner-title {
        font-weight: 500;
        font-size: 30px;
    }

    .sub-titel {
        font-weight: 400;
        font-size: 10px;

    }

    .banner-button {
        width: 155px;
        height: 48px;
        background-color: red;
    }

    .banner-button:hover {
        width: 159px;
        height: 50px;
        background-color: green;
    }

    .banner-image {
        width: 323px;
        height: 395px;
    }

        /*---------------------- All Match update----------- */
        .container-Match {
            margin-bottom: 50px;
        }
    
    
        .All-Match-and-button {
    
            display: grid;
            grid-template-columns: 1fr;
    
        }
    
        .All-button {
            height: 100%;
            width: 100%;
            background-color: white;
        }
    
        .buttons {
            display: flex;
            padding-top: 0px;
            margin: 1%;
    
        }
    
        .Upcoming-Match {
            width: 238px;
            height: 64px;
            margin-left: 10px;
        }
    
        .All-Group {
            width: 238px;
            height: 64px;
            margin-left: 10px;
    
    
        }
    
        .Blog {
            width: 238px;
            height: 64px;
            margin-left: 10px;
    
        }
    
        .Upcoming-Match:hover,
        .All-Group:hover,
        .Blog:hover {
            background-color: red;
            width: 238px;
            cursor: pointer;
        }

     /*-------- Upcoming-Match----------- */
            
        .All-Live-Match {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: auto;
            margin-left: 5%;
            
         }
         .All-Match-and-button {
             width: 100%;
         }
    
         /* ------------------Footer section--------------- */
         .container-footer {
             width: 100%;
         }
    
         .Goal {
             padding-top: 70px;
             padding-bottom: 30px;
         }
    
         .footer-info {
             word-wrap: break-word;
             padding-top: 30px;
             padding-bottom: 55px;
    
         }
    
         .info {
             margin-left: 50px;
             margin-bottom: 20px;
    
    
         }

}