.i {
    width: 40px;
    height: 200px;
    background-color: green;
    border-radius: 0px 0px 20px 20px;
    margin: auto;
}
.o {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
}
.text h1 {
    font-size: 50px;
    color: red;
    text-align: center;
}
.text {
    
    margin: auto;
    
}
.symble {
    margin: auto;
}
.container {
    margin: auto;
    width: 1321px;
    height: 600px;
    border: 10px solid cyan;
    position: relative;
    
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(215, 242, 250);
}

@media only screen and (max-width:576px) {
    .container {
        width: 334px;
            height: 472px;
        background-color: rgb(215, 242, 250);
    }
    
}


@media only screen and (min-width:577px) and (max-width:768px) {
    .container {
            width: 734px;
                height: 398px;
            background-color: rgb(215, 245, 250);
        }
    
}